<header class="site-header">

  <div class="topnav" id="myTopnav">
    <a href="https://www.sdu.dk/en" target="_blank">
      <IMG style="vertical-align:middle" alt="SDU_logo" SRC="\img\SDU_logo.png" WIDTH=83 HEIGHT=22>
    </a>
    <a href="https://ahmadrafsanjani.github.io">Home</a>
    <a href="https://ahmadrafsanjani.github.io/research">Research</a>
    <a href="https://ahmadrafsanjani.github.io/team">Team</a>
    <a href="https://ahmadrafsanjani.github.io/publication">Publication</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <!-- scripts -->
  <script type="text/javascript">
    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>

</header>
