<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav" id="myTopnav">

      <div class="trigger">
        <!-- website logo -->
        <a href="https://www.sdu.dk/en" target="_blank">
        <IMG style="vertical-align:middle" alt="SDU_logo" SRC="\img\SDU_logo.png" WIDTH=83 HEIGHT=22>
        </a>
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">home</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
    </nav>




  </div>

  <!-- scripts -->
  <script type="text/javascript">
    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "trigger") {
      x.className += " responsive";
    } else {
      x.className = "trigger";
    }
  }
  </script>

</header>
