<header class="site-header">


  <div class="topnav" id="myTopnav">
    <a href="https://ahmadrafsanjani.github.io" target="_blank">
      <IMG style="vertical-align:middle" alt="AIM_logo" SRC="\img\AIM_logo.png" WIDTH=auto HEIGHT=32>
    </a>
    <a href="https://www.sdu.dk/en" target="_blank">
      <IMG style="vertical-align:middle" alt="SDU_logo" SRC="\img\SDU_logo.png" WIDTH=auto HEIGHT=18>
    </a>
    <a href="https://ahmadrafsanjani.github.io">HOME</a>
    <a href="https://ahmadrafsanjani.github.io/research">RESEARCH</a>
    <a href="https://ahmadrafsanjani.github.io/team">TEAM</a>
    <a href="https://ahmadrafsanjani.github.io/publication">PUBLICATION</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <!-- scripts -->
  <script type="text/javascript">
    function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>

</header>
